.main h1 a {
    color: var(--text-heading);
    text-decoration: none;
}
  

#basmala {
    font-family: "Scheherazade New", serif;
    color: var(--text-heading);
  
}


.main figure img {
    width: 130px;
    box-shadow: 5px 5px 5px black;
    border: 5px outset var(--border-color);
}
