
#libraryFig img {
    width: 350px;
    box-shadow: 5px 5px 5px black;
    border: 5px outset var(--border-color);
  
  }
  
  #libraryFig {
    margin: 17px 15px 0px 0px;
    float: left;
    transform: translateY(-5px);
  }
  
  #libraryFig figcaption {
    font-style: italic;
    font-size: 70%;
  }