body {
    margin: 0;
    /*!--background-image: url('https://cdn.discordapp.com/attachments/1087695750684749904/1087711217600167936/chocolate_1.jpg');*/
    color: wheat;
    background-repeat: repeat;
    background-size: 30%;
    background-color: #0A0E14;
    cursor: url(https://cdn.discordapp.com/attachments/1087695750684749904/1088291515991855154/feather.cur), auto;

}

html {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}


button {
    font-family: 'Texturina', 'Kreon', serif;
}

hr {

    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    width: 800px;

}

.title {
    text-align: center;
    margin: auto auto;
    max-width: 800px;
}

.title h1 {
    color: white;
}


.title p {
    text-align: justify;
    justify-content: space-between;
    font-size: 100%;
    position: relative;
    max-width: 802px;
}

.title a {
    text-decoration: none;
    color: white;
}

.title h2 {
    color: white;
}


figure img {
    width: 200px;
    box-shadow: 5px 5px 5px black;
    border: 5px outset wheat;

}

figure {
    margin: 16px 15px 0px 0px;
    float: left;
}

figcaption {
    font-style: italic;
    font-size: 70%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cinzel', 'Texturina', 'Kreon', serif;
}


pre,
body {
    font-family: 'Texturina', 'Kreon', serif;
}


.navbar {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}


footer {
    text-align: center;
    font-size: 15px;
    position: relative;
    bottom: 0px;
    width: 100%;
    color: white;
}



footer ul li {
    display: inline-block;
}

footer a {
    display: inline-block;
    color: white;
}

footer a:hover {
    color: #931621;
}


nav {
    background-color: #0A0E14;
    text-align: center;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}


nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}




nav ul li a:hover {
    color: #931621;
}


.dropbtn {
    background-color: #0A0E14;
    color: white;
    padding: 16px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover {
    color: #931621;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #931621;
    min-width: 140px;
    box-shadow: 0px 8px 10px 0px black;
    z-index: 1;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 8px 0px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}