
#skFig img {
    width: 220px;
    box-shadow: 5px 5px 5px black;
    border: 5px outset var(--border-color);

}

#skFig {
    margin: 13px 15px 0px 0px;
    float: left;
}

#skFig figcaption {
    font-style: italic;
    font-size: 70%;
}
