body {
    background-color: #424549;
}

.rounded-gradient-border {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    text-align: center;
    width: 300px;
    height: 500px;
    background: white;
    border: 10px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
  }
  
  .rounded-gradient-border::before {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    background-image: linear-gradient(180deg, #ffb700 0%, rgba(170,0,0,1) 90%);
    border-radius: inherit;
    z-index: -1;
  }
  
  <ul id="edge-left"><li><div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></li></ul>

  
#edge-left {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  background-color: #284177;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

#edge-left li {
  padding:20px;
  color: #ede8e4;
  text-decoration: none;
  font-size: 17px;
}

#edge-right {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  background-color: #284177;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

#edge-right li {
  padding:20px;
  color: #ede8e4;
  text-decoration: none;
  font-size: 17px;
}
