
body {
    margin: 0;
    background-image: url('https://cdn.discordapp.com/attachments/1087695750684749904/1087711217600167936/chocolate_1.jpg');
    color: wheat;
    background-repeat: repeat;
    background-size: 30%;
}

pre, body {
    font-family:'Times New Roman', Times, serif; 
}

/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #000;
    overflow: auto;    
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}


.navbar div {
    margin: 0;
    padding: 0; 
    text-align: center;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: crimson;
}


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}